@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "~slick-carousel/slick/slick.scss";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/fl-outicons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/tmmegamenu";
@import "components/imageslider";
@import "components/tmmosaicproducts";
@import "components/tmsearch";
@import "components/tmheaderaccount";
@import "components/hooks";
@import "components/tmdaydeal";
@import "components/tmproductlistgallery";
@import "components/tmproductsslider";


/* -------------------------------------------------------------------------------
					 			BackToTop
------------------------------------------------------------------------------- */

#toTop:before {
  content: "\e00d";
  font-family: 'fl-outicons';
  display: block;
  font-size: 20px;
  line-height:48px;
  vertical-align: 0;
  opacity:0.5;
  color:#fff;
  transition: all 0.3s linear;
  height:50px;
  width:50px;
  text-align:center;
  background:#1c1c1c;
  border-radius: 50%;
}
#toTop {
  border: medium none;
  height:100px;
  width:100px;
  padding:25px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  background: $gray-lighter;
  bottom: 100px;
  cursor: pointer;
  display: none;
  right: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  text-decoration: none;
  z-index: 999;
  transition: all 0.2s linear;
  @media (max-width: 1199px) { // max 1199px
    bottom: 30px;
  }
  @media (max-width: 767px) { // max 767px
    display: none!important;
  }
}
#toTop:hover{
  &:before{
    opacity:0.8;
  }
}

/*** HEADER ***/
#header {
  color: $gray;
  position: relative;
  z-index: 1000;
  .logo {
    max-width: 100%;
    background: $gray-darkest;
  }
  .header-nav {
    background: $gray-dark;
    display: flex;
    .logo-wrapper {
      background: $gray-darkest;
      flex: 0 0 100px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        flex: 0 0 50px;
      }
      .logo {
        max-width: 100%;
      }
    }
    .menu-wrapper {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
    }
    .nav-wrapper {
      background: white;
      flex: 0 0 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include media-breakpoint-down(sm) {
        flex: 0 0 50px;
      }
      .nav-vertical {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        .nav-element {
          position: relative;
          width: 100%;
          display: flex;
          border-bottom: 1px solid white;
          &.socialfeedblock-item {
            position: static;
          }
          .expand-more {
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 31px;
            line-height: 100px;
            height: 100px;
            opacity: 0.3;
            color: #262626;
            cursor: pointer;
            @include media-breakpoint-down(sm) {
              line-height: 50px;
              height: 50px;
            }
            + * {
              position: absolute;
              right: calc(100% + 1px);
              top: 0;
              width: 350px;
              left: auto;
              display: none;
              opacity: 0;
              min-height: 100%;
              overflow: hidden;
              background: #e2e2e2;
              z-index: 999;
              flex-wrap: wrap;
              border: none;
              @include media-breakpoint-down(lg) {
                &.facebook-socialfeed {
                  width: 23.75rem;
                }
              }
              @include media-breakpoint-down(xs) {
                &:not(.facebook-socialfeed) {
                  width: 20.2rem;
                }
              }
              &.header-login-content {
                width: auto;
              }
            }
          }
          &.open > .expand-more {
            opacity: 1;
            background: #e2e2e2;
            font-size: 41px;
            i {
              &:before {
                content: '\E5CD';
                font-family: 'Material Icons';
              }
            }
            + * {
              display: flex;
              opacity: 1;
            }
          }
        }
      }
      .lang_carrency {
        width: 100%;
        padding: 20px;
        .language-selector, .currency-selector {
          padding: 10px 20px;
          span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            &:after {
              content: '\e00d';
              font-family: 'fl-outicons';
              font-size: 12px;
            }
            &.collapsed {
              &:after {
                content: '\e00e';
              }
            }
          }
          ul {
            background: $gray-darker;
            color: $gray-lightest;
            padding: 10px;
            li {
              font-size: 12px;
              a {
                color: $gray-lightest;
              }
              &.current a, & a:hover {
                color: $gray;
              }
            }
          }
        }
      }
      .cart-preview {
        &.active {
          i, span {
            color: $brand-primary;
          }
        }
        .shopping-cart {
          vertical-align: middle;
          color: $gray;
        }
        .body {
          display: none;
        }
      }
      .blockcart {
        text-align: center;
        color: $gray-darker;
        a {
          color: $gray-darker;
          &:hover {
            color: $brand-primary;
          }
        }
        i {
          font-size: 31px;
          line-height: 1;
          display: inline-block;
        }
        span {
          vertical-align: 20px;
          display: inline-block;
        }
        &.active {
          a:hover {
            color: white;
          }
        }
        .header {
          margin-bottom: 2px;
        }
      }
    }
  }
  .header-full-width {
    margin: 0 100px;
    padding: 0 10px;
    background: white;
    @include media-breakpoint-down(sm) {
      margin: 0 50px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
.popover {
  font-family: inherit;
}

.header-top-column {
  margin: 0 100px;
  padding: 0 10px;
  background: white;
  @include media-breakpoint-down(sm) {
    margin: 0 50px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 4px;
    padding-right: 4px;
  }
}
#index .header-top-column {
  padding-bottom: 50px;
}

/*** WRAPPER ***/
#wrapper {
  margin: 0 100px;
  padding: 35px 10px 0;
  background: white;
  @include media-breakpoint-down(sm) {
    padding-left: 4px;
    padding-right: 4px;
  }
  #index & {
    padding-top: 0;
  }
  @include media-breakpoint-down(sm) {
    margin: 0 50px;
  }
  .banner {
    margin-bottom: 1.5rem;
    display: block;
    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 7px 10px;
    margin: -35px -10px 35px;
    background: $gray-lightest;
    font-size: 12px;
    line-height: 22px;
    &[data-depth="1"] {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      margin: -35px -4px 35px;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "|";
        color: $gray;
        margin: 0 20px;
      }
      &:last-child {
        content: "|";
        color: $gray;
        margin: 0;
        &::after {
          content: "";
        }
        a {
          color: $gray-darker;
        }
      }
      a {
        color: $gray;
        &:hover {
          color: $gray-darker;
        }
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;
    h1 {
      text-align: center;
    }
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
}





.tilter {
  position: relative;
  display: block;
  flex: none;
  color: #fff;
  perspective: 1000px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-perspective: 1000px;
}

.tilter * {
  pointer-events: none;
}

.tilter:hover,
.tilter:focus {
  color: #fff;
  outline: none;
}

.tilter__figure,
.tilter__image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.tilter__figure > * {
  transform: translateZ(0px); /* Force correct stacking order */
}

.tilter__figure {
  position: relative;
}

.tilter__deco {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tilter__deco--overlay {
  background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.tilter__title {
  font-family: 'Abril Fatface', serif;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

.tilter__description {
  font-size: 0.85em;
  margin: 1em 0 0 0;
  letter-spacing: 0.15em;
}

@include media-breakpoint-up(xl) {
  .manufacturer_item {
    img {
      opacity: 0.6;
      transition: all 0.2s linear;
    }
    a:hover {
      img {
        opacity: 1;
      }
    }
  }
}
.brand {
  margin-bottom: 30px;
  font-size: 12px;
  .brand-img {
    float: left;
    margin-right: 30px;
  }
}

.twitter-socialfeed {
  padding: 10px;
  max-height: 800px;
  overflow-y: auto;
  border-bottom: 10px solid $gray-light;
}
