/* japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Japanese Thin'), local('NotoSansJapanese-Thin'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6ofjtqLzI2JPCgQBnw7HFQojgF8lJdhg.woff2) format('woff2');
  unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Japanese Thin'), local('NotoSansJapanese-Thin'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6ofjtqLzI2JPCgQBnw7HFQojgN8lI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQaioa3Xdgv-s.woff2) format('woff2');
  unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQaioa1Xdg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F62fjtqLzI2JPCgQBnw7HFYyQgP6lY.woff2) format('woff2');
  unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F62fjtqLzI2JPCgQBnw7HFYwQgP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQMisa3Xdgv-s.woff2) format('woff2');
  unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQMisa1Xdg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQei0a3Xdgv-s.woff2) format('woff2');
  unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQei0a1Xdg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQQi8a3Xdgv-s.woff2) format('woff2');
  unicode-range: U+3000-30FF, U+4E00-9FFF, U+FF00-FFEF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'), url(https://fonts.gstatic.com/s/notosansjp/v13/-F6pfjtqLzI2JPCgQBnw7HFQQi8a1Xdg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
