
.forgotten-password {
  padding: 4px;

  .form-fields {

    .center-email-fields {
      display: flex;
      justify-content: center;
    }

    .email {
      padding-left: 0;
      padding-right: 0;
      width: 700px;
      max-width: 100%;
    }
  }
}

.send-renew-password-link {
  padding-left: 10px;
  padding-right: 10px;
}
